
.Header{
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(40, 52, 105, 0.5);
    position: fixed;
}

.Home{
    width: 50%;
    text-align: center;
    color:white;
    font-weight: 600;
}

.Login{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.User{
    color:white;
    font-weight: 600;
}

.Sign{
    color:white;
    font-weight: 600;
}

.Log{
    color:white;
    font-weight: 600;
}