.Home-body{
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.banner{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.posts{
    min-height: 50vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    background-color: #F8EBEE;
}

.posting{
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 10fr 0.5fr;
    color:rgb(255, 255, 255);
    font-weight: 600;
    background-color: #EF7E71;
    box-sizing: border-box;
}

.contents{

}

.banner{
    width: 100%;
}

.Loding{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}